@charset "UTF-8";

body {
font-family:'돋움';
margin:0px;
padding:0px;
font-size:12px;
}
#join_b {
width:100%;
text-align:center;
margin:20px 0 20px 0;
overflow:hidden;
}
.joins {
width:100%;
margin:0px;
border:1px solid #BDBDBD;
border-collapse:collapse;
}
.joins td {
border:1px solid #BDBDBD;
}
.joins th {
background:url(./images/submenubg.gif) repeat-x left bottom;
border:1px solid #BDBDBD;
height:35px;
}
.jinput {
background:#ffffff;
border:1px solid #BDBDBD;
margin:0px;
padding:0px;
width:130px;
height:25px;
line-height:25px;
font-size:15px;
}
.join_header {
font-size:13px;
margin:20px 0 5px 0;
}
.boards {
font-size:12px;
width:100%;
margin:0px;
border-collapse:collapse;
}
.boards th {
border-top:2px solid #122942;
border-bottom:1px solid #A0A0A0;
height:35px;
line-height:35px;
margin:0px;
padding:0px;
}
.boards td {
border-bottom:1px solid #A0A0A0;
padding:10px 3px 10px 3px;
}
.boards td a {
text-decoration:none;
color:#000000;
}
.boards_b {
width:100%;
height:26px;
margin:10px 0 0 0;
padding:0px;
overflow:hidden;
}
.boards_bl {
width:30%;
float:left;
text-align:left;
overflow:hidden;
}
.boards_br {
width:30%;
float:right;
text-align:right;
overflow:hidden;
}
.boards_bc {
width:40%;
height:26px;
line-height:26px;
float:left;
text-align:center;
overflow:hidden;
}
.boards_bc a {
text-decoration:none;
color:#000000;
margin:0 3px 0 0;
}
.boards input {
border:1px solid #cccccc;
width:150px;
height:25px;
line-height:25px;
font-size:15px;
margin:0px;
padding:0px;
overflow:hidden;
}
.boards_header {
width:100%;
margin:10px 0 3px 0;
padding:0px;
overflow:hidden;
}
.boards_header p {
margin:0px;
padding:0px;
width:230px;
}
.boards_header p a {
text-decoration:none;
color:#000000;
}
.btn_st {
border:1px solid #cccccc;
background:#eeeeee;
color:#000000;
padding:0px;
width:78px;
height:24px;
line-height:24px;
text-decoration:none;
display:block;
font-size:12px;
text-align:center;
overflow:hidden;
}
.b_memo {
border:1px solid #cccccc;
width:99%;
height:200px;
font-size:15px;
margin:0px;
padding:0px;
}
.comments {
width:100%;
padding:10px;
margin:10px 0 0 0;
border-collapse:collapse;
}
.comments tr th {
border-top:1px solid #122942;
}
.comments tr td {
border:1px solid #bbbbbb;
}
.comments input {
background:#ffffff;
width:98%;
height:20px;
line-height:20px;
border:1px solid #cccccc;
font-size:15px;
}
.comments textarea {
width:99%;
font-size:15px;
}
.comments a {
font-size:12px;
color:#676767;
text-decoration:none;
}
#login_oo {
border:2px solid #B4BFCC;
padding:20px 50px 10px 50px;
width:270px;
margin:0 auto;
margin-top:30px;
margin-bottom:30px;
overflow:hidden;
}
#login_oo h1 {
font-size:20px;
border-bottom:1px solid #B4BFCC;
margin:0 0 20px 0;
padding:0 0 10px 0;
font-family:'Arial';
overflow:hidden;
}
#login_oo fieldset {
border:0px;
margin:0px;
padding:0px;
overflow:hidden;
}
#login_oo legend {
font-size:0px;
margin:0px;
padding:0px;
overflow:hidden;
}
.login_oo_l {
width:195px;
text-align:right;
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
.login_oo_l label {
font-family:'Arial';
font-weight:bold;
font-size:13px;
line-height:31px;
}
.login_oo_l input {
border:1px solid #B4BFCC;
height:31px;
line-height:31px;
width:150px;
font-size:17px;
margin:0 0 3px 0;
padding:0px;
overflow:hidden;
}
.login_oo_r {
width:70px;
float:right;
margin:0px;
padding:0px;
}
.login_oo_b {
text-align:center;
margin:10px 0 0 0;
overflow:hidden;
}
#login_bu_oo {
margin:0px;
padding:0px;
width:70px;
height:70px;
background:#ECECEC;
font-size:13px;
font-family:'Arial';
font-weight:bold;
border:2px solid #B4BFCC;
overflow:hidden;
}
#login_t_oo {
width:100%;
overflow:hidden;
}
#login_b_oo {
padding:15px 0 0 0;
text-align:center;
font-size:15px;
overflow:hidden;
}
#login_b_oo a {
text-decoration:none;
color:#000000;
}
.boards_bsearch {
margin:0 auto;
width:300px;
}
.boards_bsearch_l {
width:80px;
float:left;
overflow:hidden;
}
.boards_bsearch_l select {
border:1px solid #cccccc;
width:80px;
height:26px;
}
.boards_bsearch_c {
width:140px;
float:left;
}
.boards_bsearch_c input {
border:1px solid #cccccc;
border-left:0px;
border-right:0px;
width:140px;
padding:0px;
line-height:24px;
height:24px;
}
.boards_bsearch_r {
width:80px;
float:right;
}
.boards_bsearch_r input {
background:#cccccc;
color:#000000;
border:1px solid #cccccc;
width:80px;
height:26px;
}
.rt_bg td {
background:#eeeeee;
}