<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KH_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NowServlet</display-name>
    <servlet-name>NowServlet</servlet-name>
    <servlet-class>aug27.NowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowServlet</servlet-name>
    <url-pattern>/NowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBCPInit</servlet-name>
    <servlet-class>kh.loader.DBCPInit</servlet-class>
    <init-param>
      <param-name>jdbcdriver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>downloadAction</display-name>
    <servlet-name>downloadAction</servlet-name>
    <servlet-class>board2.downloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadAction</servlet-name>
    <url-pattern>/downloadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board</display-name>
    <servlet-name>board</servlet-name>
    <servlet-class>board2.controller.board</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>/board2/board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_view</display-name>
    <servlet-name>board_view</servlet-name>
    <servlet-class>board2.controller.board_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_view</servlet-name>
    <url-pattern>/board2/board_view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_write</display-name>
    <servlet-name>board_write</servlet-name>
    <servlet-class>board2.controller.board_write</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_write</servlet-name>
    <url-pattern>/board2/board_write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_write_post</display-name>
    <servlet-name>board_write_post</servlet-name>
    <servlet-class>board2.controller.board_write_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_write_post</servlet-name>
    <url-pattern>/board2/board_write_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_edit</display-name>
    <servlet-name>board_edit</servlet-name>
    <servlet-class>board2.controller.board_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_edit</servlet-name>
    <url-pattern>/board2/board_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_edit_post</display-name>
    <servlet-name>board_edit_post</servlet-name>
    <servlet-class>board2.controller.board_edit_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_edit_post</servlet-name>
    <url-pattern>/board2/board_edit_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_del</display-name>
    <servlet-name>board_del</servlet-name>
    <servlet-class>board2.controller.board_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_del</servlet-name>
    <url-pattern>/board2/board_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_del_post</display-name>
    <servlet-name>board_del_post</servlet-name>
    <servlet-class>board2.controller.board_del_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_del_post</servlet-name>
    <url-pattern>/board2/board_del_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_comment_post</display-name>
    <servlet-name>board_comment_post</servlet-name>
    <servlet-class>board2.controller.board_comment_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_comment_post</servlet-name>
    <url-pattern>/board2/board_comment_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_comment_del</display-name>
    <servlet-name>board_comment_del</servlet-name>
    <servlet-class>board2.controller.board_comment_del</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_comment_del</servlet-name>
    <url-pattern>/board2/board_comment_del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>board_comment_del_post</display-name>
    <servlet-name>board_comment_del_post</servlet-name>
    <servlet-class>board2.controller.board_comment_del_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board_comment_del_post</servlet-name>
    <url-pattern>/board2/board_comment_del_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join</display-name>
    <servlet-name>join</servlet-name>
    <servlet-class>board2.controller.join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/board2/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join_post</display-name>
    <servlet-name>join_post</servlet-name>
    <servlet-class>board2.controller.join_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join_post</servlet-name>
    <url-pattern>/board2/join_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join_edit</display-name>
    <servlet-name>join_edit</servlet-name>
    <servlet-class>board2.controller.join_edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join_edit</servlet-name>
    <url-pattern>/board2/join_edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join_edit_post</display-name>
    <servlet-name>join_edit_post</servlet-name>
    <servlet-class>board2.controller.join_edit_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join_edit_post</servlet-name>
    <url-pattern>/board2/join_edit_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>join_check</display-name>
    <servlet-name>join_check</servlet-name>
    <servlet-class>board2.controller.join_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join_check</servlet-name>
    <url-pattern>/board2/join_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>board2.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/board2/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>board2.controller.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/board2/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_post</display-name>
    <servlet-name>login_post</servlet-name>
    <servlet-class>board2.controller.login_post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_post</servlet-name>
    <url-pattern>/board2/login_post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sitemap</display-name>
    <servlet-name>sitemap</servlet-name>
    <servlet-class>board2.controller.sitemap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/board2/sitemap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>map</display-name>
    <servlet-name>map</servlet-name>
    <servlet-class>board2.controller.map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>map</servlet-name>
    <url-pattern>/board2/map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>board2.controller.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/board2/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyh</display-name>
    <servlet-name>companyh</servlet-name>
    <servlet-class>board2.controller.companyh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyh</servlet-name>
    <url-pattern>/board2/companyh</url-pattern>
  </servlet-mapping>
</web-app>