<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KH_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.o</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <description></description>
    <display-name>NowServlet</display-name>
    <servlet-name>NowServlet</servlet-name>
    <servlet-class>aug27.NowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowServlet</servlet-name>
    <url-pattern>/NowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBCPInit</servlet-name>
    <servlet-class>kh.loader.DBCPInit</servlet-class>
    <init-param>
      <param-name>jdbcdriver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>board2.controller.controller</servlet-class>
    <init-param>
      <param-name>configURL</param-name>
      <param-value>/WEB-INF/actionURI.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/board2/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>shop_controller</display-name>
    <servlet-name>shop_controller</servlet-name>
    <servlet-class>shop.controller.shop_controller</servlet-class>
    <init-param>
      <param-name>configURL</param-name>
      <param-value>/WEB-INF/actionURI_shop.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>shop_controller</servlet-name>
    <url-pattern>/shop/shop_controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shop_controller</servlet-name>
    <url-pattern>*.o</url-pattern>
  </servlet-mapping>
</web-app>